%h1.column.width4.first Edit your profile (#{@user.username})
%section.column.width3.first
  %p.box
    Write something aobut you below so that other people get a clear picture of who you are and with what projets you could help.
    If you already have a gravatar, you’ll see it as your profile picture around here. If you don’t have a gravatar yet:
    != link_to 'Get one! It’s easy.', 'http://en.gravatar.com/site/signup'
  - form_for @user, :url => profile_path, :html => {:method => :put, :class => 'width4 column first'} do |f|
    != f.error_messages
    .width2.first.column
      %label.width2.first
        Name:
        != f.text_field :name, :title => 'Change this into your real name.', :class => 'show_advice'
      %label.width2.first
        Email:
        != f.text_field :email, :title => 'Please make sure you spelt it right!', :class => 'show_advice'
      %label.width2.first
        Tag yourself:
        != f.text_field :tag_list, :title => 'A few tags to describe your interests and competences to help you find matching projects. Comma-separated.', :class => 'show_advice'
      %label.width2.first.multilinex4
        Describe yourself in a few sentences:
        != f.text_area :description, :title => 'Try to be vivid here!', :class => 'show_advice'
      %p.width2.actions.first
        != f.submit "Save your Profile"
        or
        != link_to "cancel", @user
    
