- form_for(:feedback_request, :url => feedback_requests_path, :html => { :class => 'column width4 first feedback_form' }) do |f|
  .column.width1.first
    != image_tag(gravatar_url(current_user), :class => "column unitx1 first avatar")
    %p.column.unitx1
      %strong
        Request expert feedback on your projects!
  .column.width2
    - if @project
      != hidden_field_tag :project_id, @project.id
      %label.width2.multilinex3.first
        Who do you want to introduce to your project? Give us some email addresses (one per line).
        != text_area_tag :receivers
    - elsif @user
      != hidden_field_tag :user_id, @user.id
      %label.width2.first
        Choose one of your projects:
        != select_tag :project_id, options_from_collection_for_select(@user.projects, 'id', 'title')
    %label.width2.multilinex3.first
      Do you want to add a personal message? Staying concise while beeing polite will raise your chances of getting people to give feedback:
      != f.text_area :text
    %p.actions
      != f.submit "Send request"