%h1.column.width2.first Project owners and experts:
%p.column.width2.intro Who’s hot and who’s not.

%section.column.width4.first.stroke_heavy
  %ul.column.width4.first.users.all
    - @users.each do |user|
      %li(class="column width2 #{cycle 'first', ''}")
        .column.unitx1.first
          != link_to image_tag(gravatar_url(current_user), :class => "column unitx1 first avatar"), user
        .column.unitx3
          %h6
            !=link_to h(user.name), user
            (#{user.rating_points || "0"} Kudos points)
          %p= truncate(user.description, :length => 170)
          %p.column.width2.first.tags
            %strong Tags:
            - user.tag_list.each do |tag|
              = tag
            