%h1.column.width4.first
  = @user.name
  (#{@user.username})
  - if logged_in? && @user == current_user
    != link_to "(edit)", edit_profile_path()
    
%section.width4.first.user
  .column.unitx1.first.meta.stroke_heavy
    != image_tag(gravatar_url(current_user), :class => "column unitx1 first avatar")
  .column.unitx5.stroke_heavy
    != simple_format sanitize(@user.description)
  .column.width1.stroke_heavy.meta  
    %p
      %strong
        Kudos points:
      = @user.rating_points
    %p.stroke_light
      %strong
        Tags:
      - @user.tag_list.each do |tag|
        = tag
  
.column.width4.first.stroke_heavy
  %section.column.width2.first
    %h2.column.width2.first Own Projects
    - unless @user.projects.empty?
      != render :partial => 'shared/projects', :locals => { :projects => @user.projects }
    - else
      %p No projects yet.
  
  %section.column.width2
    %h2.column.width2.first Projects given feedback on
    - unless @user.projects_with_feedback.empty?
      != render :partial => 'shared/projects', :locals => { :projects => @user.projects_with_feedback }

- if logged_in?
  %section.width4.first.stroke_heavy.get_feedback
    %h2.column.width1.first Feedback
    %h5.column.width3 Request this users feedback on one of your projects
    %section.width3.first
      != render :partial => 'feedback_requests/form'