- @page_title = h(@user.name) + ' - User'

%h1.column.width3.first
  = @user.name
  (#{@user.username})
%p.column.width1.intro
  - if logged_in? && @user == current_user
    != link_to "Edit Profile", edit_profile_path()
    
%section.column.width4.first.user
  .column.unitx1.first.meta
    != image_tag(gravatar_url(@user), :class => "column unitx1 first avatar")
  .column.unitx5
    != simple_format sanitize(@user.description)
  .column.width1.stroke_heavy
    %p
      %strong
        Kudos points:
      = @user.rating_points
    %p.stroke_light
      %strong
        Tags:
      - @user.tag_list.each do |tag|
        != link_to_unless_current tag, users_path(:tag => tag)
  
.column.width4.first.stroke_heavy
  %section.column.width2.first
    %h2.column.width2.first Own Projects
    - unless @user.projects.empty?
      != render :partial => 'shared/projects', :locals => { :projects => @user.projects, :all => false }
    - else
      %p No projects yet.
  
  %section.column.width2
    %h2.column.width2.first Projects given feedback on
    - unless @user.projects_with_feedback.empty?
      != render :partial => 'shared/projects', :locals => { :projects => @user.projects_with_feedback, :all => false }
    - else
      %p No feedback yet. You want to request some? Just use the form below!

- if logged_in? && current_user != @user
  %section.column.width4.first.stroke_heavy.get_feedback
    .column.width4.first
      %h2.column.width1.first Feedback
      %h5.column.width3 Request this user’s feedback on one of your projects
    != render :partial => 'feedback_requests/form'