= f.error_messages

%label.first.width3
  Title
  = f.text_field :title
%label.first.width3.multilinex3
  Short summary
  = f.text_area :short_description
%label.first.width3.multilinex6
  Description
  = f.text_area :description
%label.first.width3
  Tags
  = f.text_field :tag_list
