%section.width4.first
  %h2 Projects on idealise


  %table
    %tbody
      - @projects.each do |project|
        %tr
          %td
            !=link_to h(project.title), project
          %td
            != kudos_sparkline_tag(project.kudos_history, cycle("f6f6f6", "ffffff")) unless project.kudos_history.empty?
          %td
            = truncate(project.short_description, :length => 200)
          %td
            - if logged_in? && project.user == current_user
              != link_to 'Edit', edit_project_path(project)
              != link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

  %p
    != link_to 'New project', new_project_path