%h1.column.width1.first Projects on idealise
%p.column.width2.intro
  - unless params[:tag].blank?
    Everything tagged with ‘#{h params[:tag]}’.
  - else
    All the latest and greatest stuff around here.

%section.column.width3.first.stroke_heavy
  %ul.column.width3.first.projects.all
    - @projects.each do |project|
      %li.column.width3.first
        .column.width1.first
          != link_to image_tag(project.image.url(:medium, :class => 'width1')), project
        .column.width2
          %h3.column.width2.first
            !=link_to h(project.title), project
            != kudos_sparkline_tag(project.kudos_history, "ffffff", "000000", "50x12")
          %p.column.unitx3.first
            %strong
              = project.user.try(:name)
              (#{project.created_at.to_date.to_formatted_s(:long)})
          %p.column.width2.first= truncate(project.description, :length => 440)
          %p.column.width2.first.tags
            %strong Tags:
            - project.tag_list.each do |tag|
              = tag
          - if current_user == project.user
            %p.column.width2.first
              %strong Actions:
              != link_to 'edit', edit_project_path(project)
              |
              != link_to 'delete', project, :confirm => "Are you sure?", :method => :delete
            

%section.column.width1.stroke_heavy
  %h5 Actions
  %p
    != link_to 'New project', new_project_path