%h1.column.width1.first Projects on idealise
%p.column.width2.intro All the latest and greatest stuff around here.

%section.column.width3.first

  %table.width3.first
    %tbody
      - @projects.each do |project|
        %tr
          %td
            !=link_to h(project.title), project
          %td
            != kudos_sparkline_tag(project.kudos_history, cycle("f6f6f6", "ffffff")) unless project.kudos_history.empty?
          %td
            = truncate(project.short_description, :length => 140)
          %td
            - if logged_in? && project.user == current_user
              != link_to 'Edit', edit_project_path(project)
              != link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%section.column.width1.stroke_heavy
  %h5 Actions
  %p
    != link_to 'New project', new_project_path