%h1.column.width4.first
  = @project.title
  - if logged_in? && current_user == @project.user
    != link_to '(edit)', edit_project_path(@project)
%section.width4.first
  .column.width1.first.stroke_heavy
    %h5 Project info
    %p.stroke_light
      %strong
        Author:
      != link_to(h(@project.user.try(:name)), user_path(@project.user)) || "no name"
    %p.stroke_light
      %strong
        Creation date:
      = @project.created_at.to_date.to_formatted_s(:long)   
    %p.stroke_light
      #{@project.visits.size.to_i} Visits so far
    %p.tags.stroke_light
      - @project.tag_list.each do |tag|
        = tag
  .column.width2
    %strong
      != simple_format(h(@project.short_description))
    != simple_format sanitize(@project.description)
  .column.width1.stroke_heavy
    %h5 Kudos
    %p
      != kudos_sparkline_tag(@project.kudos_history, "ffffff")
    - if logged_in?
      %p.stroke_light
        Give Kudos: 
        != button_to "+", project_project_ratings_path(@project, :rating => 1), :method => :post
        != button_to "-", project_project_ratings_path(@project, :rating => -1), :method => :post

%section.width4.first.stroke_heavy
  %h2 Feedback
  - if logged_in?
    != render :partial => 'feedbacks/form', :locals => { :project => @project }

%section.width4.first
  %ul.width4.first.feedback
    != render :partial => 'feedbacks/feedback', :collection => @project.feedbacks.root
