- @page_title = h(@project.title) + ' - Project'

%h1.column.width3.first
  = @project.title
%p.column.width1.intro
  - if logged_in? && current_user == @project.user
    != link_to 'Edit project', edit_project_path(@project)
%section.width4.first.project
  .column.width1.first.meta
    != image_tag @project.image.url(:medium, :class => 'width1')
    %p.stroke_none
      %strong
        Author:
      != link_to(h(@project.user.try(:name)), user_path(@project.user)) || "no name"
    %p.stroke_light
      %strong
        Creation date:
      = @project.created_at.to_date.to_formatted_s(:long)   
    %p.stroke_light
      %strong
        Visits:
      #{@project.visits.size.to_i}
    %p.stroke_light
      %strong
        Tags:
      - @project.tag_list.each do |tag|
        != link_to_unless_current tag, projects_path(:tag => tag)
  .column.width2
    != simple_format sanitize(@project.description)
  .column.width1.kudos_box
    %dl(id="project_#{@project.id}_kudos")
      %dt Kudos:
      %dd
        #{@project.project_ratings.sum(:rating)}
        != kudos_sparkline_tag(@project.kudos_history, "ffffff", "262626", "90x18")
    %div.kudos_actions  
      - if logged_in?
        - if @project.user == current_user
          Since this is your own project, you can't give Kudos to it. Wouldn't be fair, huh?
        - else
          Give Kudos:
          != button_to "☺", project_project_ratings_path(@project, :rating => 1), :method => :post, :class => 'kudos-button', "data-url" => project_project_ratings_path(@project, :rating => 1, :format => 'json')
          != button_to "☹", project_project_ratings_path(@project, :rating => -1), :method => :post, :class => 'kudos-button', "data-url" => project_project_ratings_path(@project, :rating => -1, :format => 'json')
      - else
        %p
          You are not logged in, so you can't give Kudos to this project. Go ahead,
          != link_to "you can do it, too!", new_session_path

%section.width4.first.stroke_heavy.first.feedback
  .column.width4.first
    %h2.column.width1.first Feedback
    %p.column.width3.tags
      %strong
        Tagged with:
      - @project.feedback_tags.each do |tag|
        != link_to_unless_current tag, project_path(@project, :tag => tag)
  - if logged_in?
    - if current_user == @project.user
      != render :partial => 'feedback_requests/form'
      - unless @matching_users.nil?
        .column.width1.meta
          %h6 Matching experts on idealise:
          - if !@matching_users.empty?
            %p
              - @matching_users.each do |user|
                != link_to user.name, user
          - else
            %p
              No matching users found.
            %p
              != link_to "Search for others on the Users page!", users_path
    - else
      != render :partial => 'feedbacks/form', :locals => { :project => @project }
  - else
    .column.width3.first.box
      You are not logged in, so you can't give feedback on this project. Go ahead,
      != link_to "you can do it, too!", new_session_path
      
  %ul.column.width4
    != render :partial => 'feedbacks/feedback', :collection => @project.feedbacks.root
