%section.width4.first
  %h2= @project.title
  %ul.tags
    - @project.tag_list.each do |tag|
      %li= tag
  .short-description.first
    != simple_format(h(@project.short_description))
  .description
    != sanitize(@project.description)

%section.width4.first
  != render :partial => 'feedbacks/form', :locals => { :project => @project }

%section.width4.first
  != render :partial => 'feedbacks/list', :locals => { :project => @project }
  