%h1.column.width4.first
  = @project.title
  - if logged_in? && current_user == @project.user
    != link_to '(edit)', edit_project_path(@project)
%section.width4.first.project
  .column.width1.first.meta.stroke_heavy
    != image_tag @project.image.url(:medium, :class => 'width1')
    %p.stroke_light
      %strong
        Author:
      != link_to(h(@project.user.try(:name)), user_path(@project.user)) || "no name"
    %p.stroke_light
      %strong
        Creation date:
      = @project.created_at.to_date.to_formatted_s(:long)   
    %p.stroke_light
      %strong
        Visits:
      #{@project.visits.size.to_i}
  .column.width2.stroke_heavy
    != simple_format sanitize(@project.description)
  .column.width1.stroke_heavy.kudos_box
    %dl(id="project_#{@project.id}_kudos")
      %dt Kudos:
      %dd
        #{@project.project_ratings.sum(:rating)}
        != kudos_sparkline_tag(@project.kudos_history, "667788", "ffffff", "90x18")
    - if logged_in?
      %div.kudos_actions
        Give Kudos:
        != button_to "☺", project_project_ratings_path(@project, :rating => 1), :method => :post, :class => 'kudos-button', "data-url" => project_project_ratings_path(@project, :rating => 1, :format => 'json')
        != button_to "☹", project_project_ratings_path(@project, :rating => -1), :method => :post, :class => 'kudos-button', "data-url" => project_project_ratings_path(@project, :rating => -1, :format => 'json')
    .tags.stroke_heavy
      %h5 Tags
      %p
        - @project.tag_list.each do |tag|
          != link_to_unless_current tag, projects_path(:tag => tag)

%section.width4.first.stroke_heavy.first.feedback
  .column.width4.first
    %h2.column.width1.first Feedback
    %p.column.width3.tags
      %strong
        Tagged with:
      - @project.feedback_tags.each do |tag|
        != link_to_unless_current tag, project_path(@project, :tag => tag)
  - if logged_in?
    - if current_user == @project.user
      != render :partial => 'feedback_requests/form'
      - unless @matching_users.nil?
        .column.width1
          %h5 Matching experts on idealise
          %p
            - @matching_users.each do |user|
              != link_to user.name, user
    - else
      != render :partial => 'feedbacks/form', :locals => { :project => @project }
  - else
    .column.width4.first.notice
      You are not logged in, so you can't give feedback on this project. Go ahead,
      != link_to "you can do it, too!", new_session_path
      
  %ul.column.width4
    != render :partial => 'feedbacks/feedback', :collection => @project.feedbacks.root
