%section.width4.first
  %h4
    = @project.title
    != link_to '(edit)', edit_project_path
  %ul.tags
    - @project.tag_list.each do |tag|
      %li= tag
  .short-description.first
    %strong
      != simple_format(h(@project.short_description))
  .description
    != sanitize(@project.description)

!= button_to "+", project_project_kudos_path(@project, :rating => 1), :method => :post
!= button_to "-", project_project_kudos_path(@project, :rating => -1), :method => :post

%section.width4.first
  != render :partial => 'feedbacks/form', :locals => { :project => @project }

%section.width4.first
  != render :partial => 'feedbacks/list', :locals => { :project => @project }
  