%h1.column.width4.first
  = @project.title
  - if logged_in? && current_user == @project.user
    != link_to '(edit)', edit_project_path(@project)
%section.width4.first
  .column.width1.first.stroke_heavy
    %h5 Project info
    %p.stroke_light
      %strong
        Author:
      != link_to(h(@project.user.try(:name)), user_path(@project.user)) || "no name"
    %p.stroke_light
      %strong
        Creation date:
      = @project.created_at.to_date.to_formatted_s(:long)   
    %p.stroke_light
      #{@project.visits.size.to_i} Visits so far
    %p.tags.stroke_light
      - @project.tag_list.each do |tag|
        = tag
  .column.width2
    != simple_format sanitize(@project.description)
  .column.width1.stroke_heavy
    %h5 Kudos
    %p(id="project_#{@project.id}_kudos")
      != kudos_sparkline_tag(@project.kudos_history, "ffffff")
    - if logged_in?
      .stroke_light
        Give Kudos:
        != button_to "+", project_project_ratings_path(@project, :rating => 1), :method => :post, :class => 'kudos-button', "data-url" => project_project_ratings_path(@project, :rating => 1, :format => 'json')
        != button_to "-", project_project_ratings_path(@project, :rating => -1), :method => :post, :class => 'kudos-button', "data-url" => project_project_ratings_path(@project, :rating => -1, :format => 'json')
- if logged_in?
  %section.width4.first.stroke_heavy
    - if current_user == @project.user
      %h2 Request Feedback
      != render :partial => 'feedback_requests/form'
      %h2 Feedback
    - else 
      %h2 Feedback
      != render :partial => 'feedbacks/form', :locals => { :project => @project }
- else
  %section.width4.first.stroke_heavy
    .notice
      You are not logged in, so you can't give feedback on this project. Go ahead,
      != link_to "you can do it, too!", new_session_path 
%section.width4.first
  %ul.width4.first.feedback
    != render :partial => 'feedbacks/feedback', :collection => @project.feedbacks.root
