%li.column.width4.first
  .column.width1.first.meta
    - unless feedback.parent
      != image_tag(gravatar_url(current_user), :class => "column unitx1 first avatar")
      .column.unitx1
        - if feedback.user
          %p!= link_to feedback.user.try(:name) || "no name", feedback.user
        %p #{feedback.created_at.to_s :short }
    - else
      != render :partial => 'feedbacks/kudos', :locals => { :feedback => feedback }
  %div(class="column width2 #{feedback.parent ? 'answer' : 'original'}")
    != simple_format(h(feedback.text))
    %p.width2.first.tags
      %strong
        Tagged width:
      - feedback.tag_list.each do |tag|
        = tag
      != link_to_function '(add tags)', "$('#tags_for_feedback_#{feedback.id}').toggle('fast')"
    != render :partial => 'feedbacks/tags', :locals => { :feedback => feedback }
    %p.width2.first.actions
      != link_to_function "reply", "$('#reply_on_feedback_#{feedback.id}').toggle('fast')"
  .column.width1
    - unless feedback.parent
      != render :partial => 'feedbacks/kudos', :locals => { :feedback => feedback }
    - else
      .column.unitx1.first.meta
        - if feedback.user
          %p!= link_to feedback.user.try(:name) || "no name", feedback.user
        %p #{feedback.created_at.to_s :short }
      != image_tag(gravatar_url(current_user), :class => "column unitx1 avatar")
  - unless feedback.parent
    %div(id="reply_on_feedback_#{feedback.id}" class="width4 first" style="display:none;")
      - form_for(:feedback, :url => project_feedbacks_path(feedback.project), :html => { :class => 'column width3 first'}) do |f|
        .column.width1.first
          &nbsp;
        != hidden_field_tag :parent_id, feedback.id
        != f.error_messages
        .width2.multilinex6.column
          != f.text_area :text
          %label.width2.first
            Tags
            != f.text_field :tag_list
          %p.width2.first.actions
            != f.submit 'Submit'
      .column.width1
        .column.unitx1.first
          Reply here
        != image_tag(gravatar_url(current_user), :class => "column unitx1 avatar")

  - unless feedback.children.empty?
    %ul.feedback.first.column.width4
      != render :partial => 'feedbacks/feedback', :collection => feedback.children
    