%ul.width3.first.feedback
  - project.feedbacks.each do |feedback|
    %li
      .meta
        - if feedback.user
          != link_to feedback.user.try(:name) || "no name", feedback.user
        != kudos_sparkline_tag(feedback.kudos_history, "ffffff")
        #{feedback.created_at.to_s :short }
        != button_to "+", project_feedback_feedback_ratings_path(feedback.project, feedback, :rating => 1 )
        != button_to "-", project_feedback_feedback_ratings_path(feedback.project, feedback, :rating => -1)
      != simple_format(h(feedback.text))
