!!!
%html
  %head
    != stylesheet_link_tag 'application'
    %title #{@page_title} - Idealise it
    != yield :head
  %body
    #page
      %header.column.width4.first
        %h1.column.width1.first
          != link_to 'idealise', root_path
        %ul.column.width3.menu
          %li
            Dashboard
          %li
            != link_to 'Projects', projects_path
          %li
            Users
      != yield
      %footer.column.width4.first