!!!
%html
  %head
    != stylesheet_link_tag 'application'
    %title #{@page_title} - Idealise it
    != yield :head
  %body
    #page
      %header.column.width4.first
        %h1 idealise
      != yield
      %footer.column.width4.first
        - if logged_in?
          Hi, #{current_user.name}
          != link_to 'log out', session_path, :method => :delete
        - else
          != link_to 'log in/sign up', new_session_path