!!!
%html
  %head
    != stylesheet_link_tag 'application'
    %title #{@page_title} - Idealise it
    != yield :head
    != javascript_include_tag 'jquery-1.3.2.min.js'
    != javascript_include_tag 'jquery-advisor.js'
    != javascript_include_tag 'application.js'
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  %body
    #page
      %header.column.width4.first
        %h1.column.width1.first
          != link_to 'idealise', root_path
        %ul.column.width2.menu
          %li
            != link_to 'Projects', projects_path, :class => (@controller.controller_name == 'projects' ? "active" : nil)
          %li
            != link_to 'Users', users_path, :class => ((@controller.controller_name == 'users' && (!current_user || !@user || current_user != @user)) ? "active" : nil)
          - if logged_in?
            %li
              != link_to 'My Profile', current_user, :class => ((@controller.controller_name == 'profiles') || (@controller.controller_name == 'users' && (current_user && @user && current_user == @user)) ? "active" : nil)
        %p.column.width1.login
          - if logged_in?
            Hi, 
            = current_user.name
            != link_to '(log out)', session_path, :method => :delete
          - else
            != link_to 'log in/sign up', new_session_path
      -if flash[:notice]
        %section.column.width4.first
          .box.notice
            = flash[:notice]
      -if flash[:error]
        %section.column.width4.first
          .box.notice
            = flash[:error]
      != yield
      %footer.column.width4.first.stroke_light
        %p
          made at the
          != link_to 'Palomar5 Camp 2009', 'http://palomar5.org/'
          by
          != link_to 'Alasdair Bell', 'http://uk.linkedin.com/in/alasdairbell'
          with some help from
          != link_to 'mindmatters', 'http://www.mindmatters.de/'